{
    auto_https off

}

api.anthropic.com {
    log {
		output file access.log
	}
    tls anthropic.crt anthropic.key

    reverse_proxy https://api.tu-zi.com {
        header_up Host {upstream_hostport}
    }
    reverse_proxy /v1/models* http://localhost:3000 {
        header_up Host {upstream_hostport}
    }    
}